# Ignorar diretórios de cache do Python
__pycache__/
*.py[cod]

# Ignorar arquivos de ambiente virtual
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignorar arquivos de log
*.log

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos do editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
